@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "buzzmap";
  default: true; /* set as default */
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #dbebf3;
  --color-base-300: #6093af;
  --color-base-content: #245261; /* Same as primary dark teal */

  --color-primary: #ffffff; /* Dark Teal */
  --color-primary-content: #ffffff;

  --color-secondary: #fadd37; /* Yellow */
  --color-secondary-content: #245261;

  --color-accent: #4aa8c7; /* Surface Dark Color */
  --color-accent-content: #ffffff;

  --color-neutral: #dbebf3; /* Surface Light Color */
  --color-neutral-content: #245261;

  --color-info: #6093af;
  --color-info-content: #ffffff;

  --color-success: #36d399;
  --color-success-content: #ffffff;

  --color-warning: #fadd37;
  --color-warning-content: #245261;

  --color-error: #ff0000;
  --color-error-content: #ffffff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
