@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&display=swap");
/* Tailwind & DaisyUI */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "buzzmap";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* Base colors */
  --color-base-100: #ffffff; /* White */
  --color-base-200: #e0f5ff; /* #DBEBF3 */
  --color-base-300: #d7edf7; /* #6093AF */

  /* Base Variants */
  --color-base-content: #3d5d6e; /* Dark text */
  --color-info: #0054bb; /* Light hover */
  --color-info-content: #e6f0fa; /* Focused background */
  --color-primary-content: #ffffff; /* White text */

  /* Primary - Dark Teal (#245261) */
  --color-primary: #245261;

  /* Secondary - Yellow (#FADD37) */
  --color-secondary: #fadd37;
  --color-secondary-content: #3a3a3a;

  /* Accent - Surface Dark Color (#4AA8C7) */
  --color-accent: #4aa8c7;
  --color-accent-content: #0b2230;

  /* Neutral - Surface Light Color (#DBEBF3) */
  --color-neutral: #fafcff;
  --color-neutral-content: #2f2f2f;

  /* Success - green */
  --color-success: #40e17b;
  --color-success-content: #163b1a;

  /* Warning - orange */
  --color-warning: #ffc35c;
  --color-warning-content: #3a2a00;

  /* Error - Red */
  --color-error: #b60000;
  --color-error-content: #ffffff;

  /* Radius & others */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@layer base {
  html {
    font-size: 12px;
    font-family: "Inter", sans-serif; /* Base font */
  }

  h1 {
    font-family: "Koulen", sans-serif; /* Heading font */
    font-size: 48px; /* Large heading */
  }

  h2 {
    font-family: "Koulen", sans-serif; /* Heading font */
    font-size: 36px; /* Medium heading */
  }

  h3 {
    font-family: "Koulen", sans-serif; /* Heading font */
    font-size: 28px; /* Smaller heading */
  }
}
.leaflet-container {
  width: 100%;
  height: 100%;
}

.pac-container {
  position: fixed !important; /* Force it out of normal flow, relative to viewport */
  z-index: 99999 !important; /* Ensure it's above modals and other high z-index elements */
  /* Other potential properties if needed, like explicit width/background, but start with this */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s linear infinite;
  background-size: 200% 200%;
}
